<!DOCTYPE html>
<html>
<head>
    <style>
        header, .content, footer {
            width: 780px;
            height: 200px;
            margin: 20px auto;

            font-size: 28px;
            text-align: center;
            border: 8px solid mediumpurple;
            -webkit-border-radius: 15px;
            -moz-border-radius: 15px;
            border-radius: 15px;
        }
    </style>
</head>
<body>

<header> Page Header</header>
<div class="content"> Page Content</div>
<footer> Page Footer</footer>

</body>
</html>
